body { font-family: system-ui, sans-serif; }
.thumb { width: 60px; height: 60px; object-fit: cover; }
.card-img-top { height: 140px; object-fit: contain; }

body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}
.dark-mode .card {
  background-color: #1e1e1e;
  color: #fff;
}
.dark-mode .navbar,
.dark-mode .btn {
  background-color: #222 !important;
  color: #f1f1f1 !important;
}

.thumb{width:60px;height:60px;object-fit:cover}
